# Gold Futures Pricing Forecast

by: Armun Shakeri

### Overview

This project seeks to forecast gold futures prices in the next 1 month, 3 month, and 6 month span.

### Import Standard Packages and Data

Import standard packages.

In [1]:
import pandas as pd
import numpy as np
import zipfile
bannana

Unzip data file and rename file to "GC".

In [2]:
with zipfile.ZipFile("Data/archive.zip") as zip_ref:
    zip_ref.extractall("Data/GC")

In [12]:
df = pd.read_csv("Data/GC/Gold.csv")
df.head(2547)

            Date  Close/Last    Volume    Open    High     Low
0     10/28/2022      1648.3  186519.0  1667.2  1670.9  1640.7
1     10/27/2022      1668.8  180599.0  1668.8  1674.8  1658.5
2     10/26/2022      1669.2  183453.0  1657.7  1679.4  1653.8
3     10/25/2022      1658.0  178706.0  1654.5  1666.8  1641.2
4     10/24/2022      1654.1  167448.0  1662.9  1675.5  1648.0
...          ...         ...       ...     ...     ...     ...
2542  11/06/2012      1715.0  163585.0  1685.4  1720.9  1683.5
2543  11/05/2012      1683.2  109647.0  1676.7  1686.2  1672.5
2544  11/02/2012      1675.2  205777.0  1715.6  1717.2  1674.8
2545  11/01/2012      1715.5  105904.0  1720.4  1727.5  1715.1
2546  10/31/2012      1719.1  110928.0  1710.3  1726.6  1709.8

[2547 rows x 6 columns]

In [10]:
df.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2547 entries, 0 to 2546
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Date        2547 non-null   object
 1   Close/Last  2547 non-null   float64
 2   Volume      2508 non-null   float64
 3   Open        2547 non-null   float64
 4   High        2547 non-null   float64
 5   Low         2547 non-null   float64
dtypes: float64(5), object(1)
memory usage: 119.5+ KB

There are 39 specific dates with a Volume of 0.

In [7]:
df.isna().sum()

Date           0
Close/Last     0
Volume        39
Open           0
High           0
Low            0
dtype: int64

We will fill the colume category with 0. We will not drop any dates that have a volume of 0 since volume is important for liquidity.

In [14]:
df = df['Volume'].fillna('0')

In [15]:
df.isna().sum()

0